@font-face {
    font-family: Outfit;
    src: url(./Outfit-VariableFont_wght.ttf);
}

*{
    font-family: Outfit;
    font-size: 18px;
    font-weight: 700;
    margin: 0; padding: 0;
}

@media (min-width:744px) {
    body{
        background-color: rgba(255, 255, 255, 1);
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    }

    .ground-image{
        position: absolute;
        top: 0; left: 0;
        width: 50%;
        height: 100%;
        background-image: url(./COVER-desctop.png);
        background-position: top right;
        background-size: cover;
    }

    .form-content{
        box-sizing: border-box;
        position: absolute;
        top: 0; right: 0;
        width: 50%;
        height: 100%;

        padding: 0 41px;

        display: flex;
        justify-content: center;
    }
    .form-input{
        width: 560px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-input h2{
        text-align: left;
        margin-bottom: 25px;
        font-size: 36px;
        font-weight: 700;
    }
    .faceboock{
        background-color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;
        background-image: url(./facebook.png);
        background-position: 20px center;
        background-repeat: no-repeat;
        background-size: 25px 25px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        margin-bottom: 25px;
        padding: auto 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        color: rgba(0, 0, 0, 1);
    }
    .faceboock:hover{
        background-color: rgba(10, 18, 90, 0.1);
        cursor: pointer;
        transition: all 0.2s;
    }

    .google{
        background-color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;
        background-image: url(./google.png);
        background-position: 20px center;
        background-repeat: no-repeat;
        background-size: 25px 25px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        padding: auto 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        color: rgba(0, 0, 0, 1);
    }
    .google:hover{
        background-color: rgba(10, 18, 90, 0.1);
        cursor: pointer;
        transition: all 0.2s;
    }

    .or-reg{
        height: max-content;
        width: 100%;

        display: flex;
        align-items:center;

        margin-top: 27px;
        margin-bottom: 27px;
    }
    .or-reg h3{
        text-align: center;
        font-weight: 400;
        margin: 0 20px;
    }
    .line{
        height: 1px;
        width: 100%;
        background-color: black;
    }

    .form-toggle{
        display: block;
        margin-bottom: 10px;
    }
    .email-input{
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        margin-bottom: 25px;
        padding-left: 20px;
    }

    .password-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .password-input{
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        margin-bottom: 30px;
        padding-left: 20px;
    }
    .lost-password a{
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
    }
    .lost-password a:hover{
        text-decoration: underline;
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
    }

    .form-submit{
        background-color: rgba(255, 0, 82, 1);
        color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        margin-bottom: 27px;
    }
    .form-submit:hover{
        background-color: rgb(189, 0, 60);
        cursor: pointer;
        transition: all 0.2s;
    }

    .registration h3{
        font-weight: 400;
    }
    .registration a{
        text-decoration: none;
        color: rgba(255, 0, 82, 1);
    }
    .registration a:hover{
        text-decoration: underline 2px solid rgba(255, 0, 82, 1);
    }
}

@media (min-width:376px) and (max-width:743px) {
    body{
        background-color: rgba(255, 255, 255, 1);
        top: 0; left: 0; right: 0; bottom: 0;
        width: 100%;
        height: 100%;
    }

    .ground-image{
        display: block;
        position: static;
        top: 0; left: 0;
        width: 100%;
        height: 300px;
        background-image: url(./COVER-mobile.png);
        background-position: top center;
        background-size: cover;
        object-fit: cover;
        margin-bottom: 80px;
    }

    .form-content{
        box-sizing: border-box;
        position: static;
        top: auto; bottom: 0;
        width: 100%;
        height: 100%;

        padding: 0 41px;
        margin-bottom: 80px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-input{
        width: 560px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .form-input h2{
        text-align: left;
        margin-bottom: 25px;
        font-size: 36px;
        font-weight: 700;
    }
    .faceboock{
        background-color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;
        background-image: url(./facebook.png);
        background-position: 20px center;
        background-repeat: no-repeat;
        background-size: 25px 25px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        margin-bottom: 25px;
        padding: auto 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        color: rgba(0, 0, 0, 1);
    }
    .faceboock:hover{
        background-color: rgba(10, 18, 90, 0.1);
        cursor: pointer;
        transition: all 0.2s;
    }

    .google{
        background-color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;
        background-image: url(./google.png);
        background-position: 20px center;
        background-repeat: no-repeat;
        background-size: 25px 25px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        padding: auto 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        color: rgba(0, 0, 0, 1);
    }
    .google:hover{
        background-color: rgba(10, 18, 90, 0.1);
        cursor: pointer;
        transition: all 0.2s;
    }

    .or-reg{
        height: max-content;
        width: 100%;

        display: flex;
        align-items:center;

        margin-top: 27px;
        margin-bottom: 27px;
    }
    .or-reg h3{
        text-align: center;
        font-weight: 400;
        margin: 0 20px;
    }
    .line{
        height: 1px;
        width: 100%;
        background-color: black;
    }

    .form-toggle{
        display: block;
        margin-bottom: 10px;
    }
    .email-input{
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        margin-bottom: 25px;
        padding-left: 20px;
    }

    .password-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .password-input{
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        margin-bottom: 30px;
        padding-left: 20px;
    }
    .lost-password a{
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
    }
    .lost-password a:hover{
        text-decoration: underline;
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
    }

    .form-submit{
        background-color: rgba(255, 0, 82, 1);
        color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        margin-bottom: 27px;
    }
    .form-submit:hover{
        background-color: rgb(189, 0, 60);
        cursor: pointer;
        transition: all 0.2s;
    }

    .registration h3{
        font-weight: 400;
    }
    .registration a{
        text-decoration: none;
        color: rgba(255, 0, 82, 1);
    }
    .registration a:hover{
        text-decoration: underline 2px solid rgba(255, 0, 82, 1);
    }
}

@media (max-width:375px) {
    body{
        background-color: rgba(255, 255, 255, 1);
        top: 0; left: 0; right: 0; bottom: 0;
        width: 100%;
        height: 100%;
    }

    .ground-image{
        display: block;
        position: static;
        top: 0; left: 0;
        width: 100%;
        height: 150px;
        background-image: url(./COVER-mobile.png);
        background-position: top center;
        background-size: cover;
        object-fit: cover;
        margin-bottom: 60px;
    }

    .form-content{
        box-sizing: border-box;
        position: static;
        top: auto; bottom: 0;
        width: 100%;
        height: 100%;

        padding: 0 20px;
        margin-bottom: 80px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-input{
        width: 560px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .form-input h2{
        text-align: left;
        margin-bottom: 25px;
        font-size: 36px;
        font-weight: 700;
    }
    .faceboock{
        background-color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;
        background-image: url(./facebook.png);
        background-position: 10px center;
        background-repeat: no-repeat;
        background-size: 25px 25px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        margin-bottom: 25px;
        padding: auto 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        color: rgba(0, 0, 0, 1);
    }
    .faceboock:hover{
        background-color: rgba(10, 18, 90, 0.1);
        cursor: pointer;
        transition: all 0.2s;
    }

    .google{
        background-color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;
        background-image: url(./google.png);
        background-position: 10px center;
        background-repeat: no-repeat;
        background-size: 25px 25px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        padding: auto 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        color: rgba(0, 0, 0, 1);
    }
    .google:hover{
        background-color: rgba(10, 18, 90, 0.1);
        cursor: pointer;
        transition: all 0.2s;
    }

    .or-reg{
        height: max-content;
        width: 100%;

        display: flex;
        align-items:center;

        margin-top: 27px;
        margin-bottom: 27px;
    }
    .or-reg h3{
        text-align: center;
        font-weight: 400;
        margin: 0 20px;
    }
    .line{
        height: 1px;
        width: 100%;
        background-color: black;
    }

    .form-toggle{
        display: block;
        margin-bottom: 10px;
    }
    .email-input{
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        margin-bottom: 25px;
        padding-left: 20px;
    }

    .password-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .password-input{
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        margin-bottom: 30px;
        padding-left: 20px;
    }
    .lost-password a{
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
    }
    .lost-password a:hover{
        text-decoration: underline;
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
    }

    .form-submit{
        background-color: rgba(255, 0, 82, 1);
        color: rgba(255, 255, 255, 1);
        width: 100%; max-width: 558px;
        height: 40px;

        border: 1px solid rgba(194, 194, 194, 1);
        border-radius: 10px;

        margin-bottom: 27px;
    }
    .form-submit:hover{
        background-color: rgb(189, 0, 60);
        cursor: pointer;
        transition: all 0.2s;
    }

    .registration h3{
        font-weight: 400;
    }
    .registration a{
        text-decoration: none;
        color: rgba(255, 0, 82, 1);
    }
    .registration a:hover{
        text-decoration: underline 2px solid rgba(255, 0, 82, 1);
    }
}
